!.gitmodule
composer.phar
/data/vendor/
/node_modules/
*.cache
*.log
*.log.*
*.tpl.php
/data/config/config.php
/data/cache/*
/data/Smarty/templates_c/*
/html/plugin/*
/html/install/temp/*
/html/upload/save_image/*
/html/upload/temp_image/*
/html/upload/temp_plugin/*
/html/template/*
!/html/template/admin
!/html/template/default
!/html/template/install
/phpunit.xml
/tests/tmp/*
/ctests/_output/*
/reports/*
/playwright-report/*
/videos/*
.idea
vagrant
.vagrant/
Vagrantfile
