/.idea/*
/.vagrant/*
/.vscode/*
/Vagrantfile
/ctests/_output/*
/data/Smarty/templates_c/*
/data/cache/*
/data/config/config.php
/data/downloads/KEN_ALL_utf-8.CSV
/data/logs/*
/data/vendor/*
/html/install/temp/*
/html/plugin/*
/html/template/*
/html/upload/save_image/*
/html/upload/temp_image/*
/html/upload/temp_plugin/*
/node_modules/*
/phpunit.xml
/playwright-report/*
/reports/*
/test-results/*
/tests/tmp/*
/vagrant/*
/videos/*
composer.phar
*.cache
*.log
*.tpl.php
!.gitkeep
