services:
  ec-cube:
    command: apache2-foreground
    entrypoint: /wait-for-sqlite3.sh
    environment:
      TZ: Asia/Tokyo
      PHP_POST_MAX_SIZE: 10M
      PHP_UPLOAD_MAX_FILESIZE: 10M
      PHP_LOG_ERRORS: "On"
      PHP_ERROR_REPORTING: "E_ALL"
      PHP_ERROR_LOG: "/proc/self/fd/2"
      # EC-CUBE2 Config
      HTTP_URL: https://localhost:4430/
      HTTPS_URL: https://localhost:4430/
      ROOT_URLPATH: /
      DOMAIN_NAME: ~
      DB_TYPE: sqlite3
      DB_USER: ~
      DB_PASSWORD: ~
      DB_SERVER: ~
      DB_NAME: /var/www/app/data/eccube.db
      DB_PORT: ~
      ADMIN_DIR: admin/
      ADMIN_FORCE_SSL: 'false'
      ADMIN_ALLOW_HOSTS: 'a:0:{}'
      AUTH_MAGIC: ~
      PASSWORD_HASH_ALGOS: sha256
