parameters:
  level: 1
  bootstrapFiles:
    - tests/require.php
  excludePaths:
    analyse:
      - data/module/SOAP/*
      - data/vendor/*
      - data/downloads/*
      - data/class/helper/SC_Helper_Mobile.php
      - data/class/SC_MobileEmoji.php
      - data/class/SC_MobileImage.php
      - data/**/flycheck_*.php
    analyseAndScan:
      - *.tpl.php
  ignoreErrors:
    # -
    #   message: "#^Constant SMARTY_PLUGINS_DIR not found\\.$#"
    #   path: data/smarty_extends/*
    -
      message: "#^Call to an undefined static method PEAR\\:\\:raiseError\\(\\)\\.$#"
      paths:
        - data/module/HTTP/Request.php

    -
      message: "#^Variable \\$SJIS_widths might not be defined\\.$#"
      path: data/class/helper/SC_Helper_FPDI.php
