parameters:
  level: 1
  bootstrapFiles:
    - tests/require.php
    - data/vendor/smarty/smarty/libs/plugins/function.html_radios.php
  excludePaths:
    - data/Smarty/templates_c/*
    - data/module/SOAP/*
    - data/vendor/*
    - data/downloads/*
    - data/module/Calendar/Engine/PearDate.php
    - data/class/helper/SC_Helper_Mobile.php
    - data/class/SC_MobileEmoji.php
    - data/class/SC_MobileImage.php
    - data/**/flycheck_*.php
  ignoreErrors:
    -
      message: "#^Call to an undefined static method PEAR\\:\\:raiseError\\(\\)\\.$#"
      paths:
        - data/module/HTTP/Request.php
        - data/module/Net/SMTP.php
        - data/module/Calendar/Calendar.php
        - data/module/Calendar/Decorator.php
        - data/module/Calendar/Factory.php
    -
      message: "#^Call to an undefined method Net_Socket\\:\\:raiseError\\(\\)\\.$#"
      path: data/module/Net/Socket.php
    -
      message: "#^Call to static method factory\\(\\) on an unknown class Auth_SASL\\.$#"
      path: data/module/Net/SMTP.php
    -
      message: "#^Call to static method dayOfWeek\\(\\) on an unknown class Date_Calc\\.#"
      path: data/module/Calendar/Util/Textual.php
    # -
    #   message: "#^Constant SMARTY_PLUGINS_DIR not found\\.$#"
    #   path: data/smarty_extends/*
    -
      message: "#^Function smarty_function_escape_special_chars not found\\.$#"
      path: data/smarty_extends/*
    -
      message: "#^Variable \\$SJIS_widths might not be defined\\.$#"
      path: data/class/helper/SC_Helper_FPDI.php
