@charset "utf-8";

/************************************************
 インヘッダーブロック
************************************************ */
#headerInternalColumn {
}
@media screen and (max-width : 768px){
#headerInternalColumn {
    position: absolute;
    right: 50px;
}
}

/* ログイン（ヘッダー用）
----------------------------------------------- */
#header_login_area {
    padding: 0 10px;
    border: solid 1px #ffc979;
    height: 30px;
    background: #fef3d3;
    letter-spacing: -0.075em;
}
#header_login_area ul.formlist {
    margin-top: 5px;
}
#header_login_area ul.formlist li {
    float: left;
}
#header_login_area ul.formlist li.mail {
    padding-left: 28px;
    width: 155px;
    background: url("../img/common/ico_arrow_login.gif") no-repeat left;
    font-size: 90%;
}
#header_login_area ul.formlist li.password {
    padding-right: 5px;
}
#header_login_area ul.formlist li.login_memory {
    padding-right: 5px;
    font-size: 90%;
}
#header_login_area ul.formlist li.forgot {
    margin-top: 3px;
    padding-right: 5px;
    font-size: 90%;
}
#header_login_area ul.formlist li.btn {
    padding-right: 5px;
    width: 53px;
}
#header_login_area p.btn {
    height: 20px;
    padding: 5px 0;
    vertical-align: middle;
}
#header_login_area p.btn input[type=image] {
    vertical-align: middle;
}


/* ***********************************************
追加ブロック
************************************************ */
/* 共通
----------------------------------------------- */
#container .block_outer #banner_area .block_body {
    border: none;
}

/* 【メイン】バナーエリア_02
----------------------------------------------- */
#main_column .block_outer #banner_area .block_body ul {
    width: 100%;
}
#main_column .block_outer #banner_area .block_body ul li {
    float: left;
}
#main_column .block_outer #banner_area .block_body ul li.sub_01 {
    padding-right: 8px;
}

/* 【サイド】バナーエリア_01
----------------------------------------------- */
/* 【サイド】バナーエリア_02
----------------------------------------------- */
#leftcolumn .block_outer #banner_area .block_body ul li,
#rightcolumn .block_outer #banner_area .block_body ul li {
    margin-bottom: 8px;
}


/*768px*/
@media screen and (min-width : 768px){

#header_login_area {
    padding: 0 2%;
}
#topcolumn {
    height: auto;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: space-between;
}
#header_login_area ul.formlist li {
    margin-bottom: 5px;
}
#header_login_area ul.formlist li.mail {
    width: 80%;
}
#header_login_area ul.formlist li.btn {
    width: 20%;
}
#header_login_area ul.formlist li.password {
    clear: none;
    width: 33%;
}
#topcolumn .pc.drawer_block {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
}
}

/*1024px*/
@media screen and (min-width : 1024px) {
#headerInternalColumn {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: flex-end;
}
#header_login_area {
    height: 30px;
    padding: 0 1.5%;
}
#header_login_area ul.formlist li {
    margin-bottom: 0;
}
#header_login_area ul.formlist li.mail {
    width: 33%;
}
#header_login_area ul.formlist li.btn {
    width: 10%;
}
#header_login_area ul.formlist li.password {
    clear: none;
    width: 21%;
}
#header_login_area ul.formlist li.forgot {
    font-size: 90%;
    width: 19%;
}


}