@charset "utf-8";

/************************************************
 各ページコンテンツ用
************************************************ */
/* ==============================================
▼TOP
=============================================== */
/* メインイメージ
----------------------------------------------- */
#main_image {
    margin-bottom: 10px;
    text-align: center;
}

/* ==============================================
▼下層
=============================================== */
/* ==============================================
▼ガイド
=============================================== */
/* ◎◎について
----------------------------------------------- */
div#undercolumn_aboutus {
}

/* 特定商取引法
----------------------------------------------- */
div#undercolumn_order {
}

/* お問い合わせ
----------------------------------------------- */
div#undercolumn_contact {
    margin: 0 auto;
    width: 100%;
}

.zipimg img {
    vertical-align: middle;
}


/* ==============================================
▼MYページ
=============================================== */
/* 共通設定
----------------------------------------------- */
div#mypagecolumn {
    width: 100%;
}

div#mynavi_area {
    width: 100%;
}

div#mycontents_area {
    width: 100%;
}
div#mynavi_area .mynavi_list {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;        
}
div#mynavi_area .mynavi_list li {
    margin: 0 15px 5px 0;
    padding-left: 15px;
    background: url('../img/icon/ico_arrow_01.gif') no-repeat left ;
    font-size: 120%;
}

div#mynavi_area div.point_announce {
    margin-bottom: 30px;
    padding: 10px;
    border: solid 1px #ffcc62;
    background-color: #fffaf0;
}
div#mynavi_area div.point_announce p {
    padding-left: 20px;
    background: url('../img/icon/ico_point.gif') no-repeat left ;
}

div#mycontents_area p.inforamtion {
    margin-bottom: 20px;
}

div#mypagecolumn h4 {
    margin: 10px auto;
    border-bottom: 1px solid #999;
    text-align: left;
    font-size: 120%;
}


/* 購入履歴一覧/詳細
----------------------------------------------- */
div#mycontents_area div.mycondition_area {
    margin: 0 auto 20px 0;
    padding: 10px;
    border: solid 1px #ccc;
    width: 97%;
    background: #f9f9f9;
}
div#mycontents_area div.mycondition_area p {
}
div#mycontents_area div.mycondition_area .btn {
    width: 160px;
    margin-top: 15px;
}
.add_address {
    margin-bottom: 20px;
}


/* 会員登録内容変更/退会
----------------------------------------------- */
div#mycontents_area .message_area {
    margin: 30px auto;
    padding: 30px;
    border: 1px solid #ccc;
    text-align: center;
}

div#mycontents_area .message_area p {
    margin-bottom: 20px;
}

/* ==============================================
▼会員登録
=============================================== */
div#undercolumn_entry {
    width: 100%;
}

div#undercolumn_entry .kiyaku_text {
    margin: 20px auto;
    padding: 10px;
    border: solid 1px #ccc;
    width: 94%;
    background: #fff;
}


/* ==============================================
▼ログイン
=============================================== */
div#undercolumn_login {
    margin: 0 auto;
    width: 100%;
}

div#undercolumn_login .login_area {
    margin-bottom: 30px;
}

div#undercolumn_login .login_area .inputbox {
    margin: 15px auto 15px auto;
    padding: 15px 20px 10px 20px;
    background: #f0f0f0;
}

div#undercolumn_login .login_area .inputbox .btn_area {
    margin-top: 0;
}


/* ==============================================
▼エラー
=============================================== */
div#undercolumn_error .message_area {
    width: 80%;
    margin: 30px auto;
    padding: 30px;
    border: 1px solid #ccc;
    text-align: center;
}

div#undercolumn_error .message_area .error {
    padding: 120px 0;
}


/* ==============================================
▼商品一覧
=============================================== */
/* ページ送り
----------------------------------------------- */
.pagenumber_area {
    padding-bottom: 10px;
    background: url("../img/background/line_dot_01.gif") repeat-x bottom ;
}
.pagecond_area {
    margin-bottom: 20px;
    padding: 10px;
}
.pagenumber_area {
    margin: 20px 0;
}
.pagecond_area {
    border: 1px solid #ccc;
}
.pagenumber_area .navi {
    width: 100%;
    text-align: center;
    margin: 16px auto;
}
.pagenumber_area .navi li {
    display: inline;
}
.pagenumber_area .change {
    text-align: right;
    white-space: nowrap;
}


/* レイアウト
----------------------------------------------- */
div.list_area {
    padding: 0 0 30px 0;
    width: 100%;
    overflow: auto;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

div.listphoto {
}

/* メインカラム用 1カラム時*/
#main_column.colnum1 div.listrightbloc {
    width: 74%;
}

/* メインカラム用 2カラム時*/
#main_column.colnum2 div.listrightbloc {
    width: 80%;
}

/* メインカラム用 3カラム時*/
#main_column.colnum3 div.listrightbloc {
    width: 74%;
}


/* 商品情報 各種設定
----------------------------------------------- */
/* 商品ステータス */
div.listrightbloc ul.status_icon {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
}
div.listrightbloc ul.status_icon li {
    margin-right: 5px;
}

/* 商品名 */
div.listrightbloc h3 {
    font-weight: bold;
    font-size: 120%;
}

/* コメント */
div.listrightbloc .listcomment {
    margin: 0 0 10px 0;
    text-align: left;
}

/* 商品詳細を見る */
div.listrightbloc .detail_btn {
    margin-bottom: 20px;
}

/* 価格 */
div.listrightbloc .pricebox {
    margin: 0 0 10px 0;
}

/* 買い物カゴ */
div.listrightbloc .cart_area {
    padding: 10px;
    border: 1px solid #cef0f4;
    background-color: #ecf5ff;
    width: 94%;
}

/* 規格 */
div.listrightbloc .classlist {
    margin-bottom: 10px;
    padding-bottom: 10px;
    background: url("../img/background/line_dot_02.gif") repeat-x bottom ;
}
div.listrightbloc dl {
    width: 100%;
}
div.listrightbloc dt {
    display: inline-block;
    vertical-align: top;
}
div.listrightbloc dd {
    padding-bottom: 10px;
    display: inline-block;
}
div.listrightbloc dd p.attention {
    margin-top: 5px;
}

/* カゴに入れる */
div.listrightbloc .cartin {
    margin: 0;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}
div.listrightbloc .cartin .quantity {
    padding: 3px 10px 0 0;
    width: 150px;
    text-align: right;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    width: 40%;
    padding: 0 4% 0 0;
}
div.listrightbloc .cartin .quantity .box {
    width: 70px;
}
div.listrightbloc .cartin_btn {
    width: 160px;
}


/* ==============================================
▼商品詳細
=============================================== */
/* レイアウト

    tplファイルのマークアップが同じ項目
        * 1カラム時
        * 2カラム時
        * 3カラム時

----------------------------------------------- */
#detailarea,
.sub_area {
    margin-bottom: 20px;
    width: 100%;
}

/* レイアウト
----------------------------------------------- */
#detailarea {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}
#main_column h3 {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#main_column div.subtext {
    -webkit-flex-grow: 2;
    flex-grow: 2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#main_column div.subphotoimg {
    -webkit-flex-grow: 2;
    flex-grow: 2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/* 1カラム用 */
#main_column.colnum1 div#detailphotobloc {
    width: 37%;
}
#main_column.colnum1 #detailrightbloc {
    width: 63%;
}
#main_column.colnum1 div.subtext {
    margin-bottom: 20px;
    width: 69%;
}
#main_column.colnum1 div.subphotoimg {
    width: 25%;
    text-align: right;
}
#main_column.colnum1 p.subtext {
    margin-bottom: 20px;
}

/* 2カラム用 */
#main_column.colnum2 div#detailphotobloc {
    width: 37%;
}
#main_column.colnum2 #detailrightbloc {
    width: 63%;
}
#main_column.colnum2 h3 {
    width: 100%;
}
#main_column.colnum2 div.subtext {
    margin-bottom: 20px;
    width: 73%;
}
#main_column.colnum2 p.subtext {
    margin-bottom: 20px;
}
#main_column.colnum2 div.subphotoimg {
    width: 25%;
    text-align: right;
}

/* 3カラム用 */
#main_column.colnum3 div#detailphotobloc {
    width: 49%;
}
#main_column.colnum3 #detailrightbloc {
    width: 50%;
}
#main_column.colnum3 div.subtext {
    margin-bottom: 20px;
    width: 63%;
}
#main_column.colnum3 p.subtext {
    margin-bottom: 20px;
}
#main_column.colnum3 div.subphotoimg {
    width: 35%;
    text-align: right;
}

/* 商品情報 各種設定
----------------------------------------------- */
#detailrightbloc h2 {
    margin: 0 0 10px 0;
    padding: 0 0 15px 0;
    color: #666;
    background: url("../img/background/line_dot_01.gif") repeat-x bottom ;
    font-weight: bold;
    font-size: 160%;
}
#detailrightbloc .point,
#detailrightbloc .relative_cat {
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    background: url("../img/background/line_dot_01.gif") repeat-x bottom ;
}
#detailrightbloc .main_comment {
    margin-bottom: 20px;
}

/* 商品コード */
#detailrightbloc .product_code dt,
#detailrightbloc .product_code dd {
    display: inline;
}

/* 商品ステータス */
#detailrightbloc ul.status_icon {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
}
#detailrightbloc ul.status_icon li {
    margin-right: 5px;
    margin-bottom: 3px;
}

/* 通常価格 */
#detailrightbloc .normal_price dt,
#detailrightbloc .normal_price dd {
    display: inline;
}

/* 販売価格 */
#detailrightbloc .sale_price dt,
#detailrightbloc .sale_price dd {
    display: inline;
}

/* ポイント */
#detailrightbloc .point dt,
#detailrightbloc .point dd {
    display: inline;
}

/* 規格 */
#detailrightbloc div.classlist {
    margin-bottom: 10px;
    padding-bottom: 10px;
    width: 100%;
    background: url("../img/background/line_dot_02.gif") repeat-x bottom ;
}
#detailrightbloc .classlist {
    margin-bottom: 5px;
}
#detailrightbloc ul {
    margin-bottom: 10px;
    width: 100%;
}
#detailrightbloc ul li {
    vertical-align: top;
}

/* メーカー */
#detailrightbloc .maker dt,
#detailrightbloc .maker dd {
    display: inline;
}

/* メーカーURL */
#detailrightbloc .comment1 dt,
#detailrightbloc .comment1 dd {
    display: inline;
}

/* 関連カテゴリ */
#detailrightbloc .relative_cat dd {
    margin-left: 1em;
}

/* 買い物カゴ */
#detailrightbloc .cart_area {
    padding: 10px;
    background-color: #ecf5ff;
    border: 1px solid #cef0f4;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
#detailrightbloc .cart_area .quantity {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    padding-top: 4px;
    width: 50%;
}
#detailrightbloc .quantity dt,
#detailrightbloc .quantity dd {
    display: inline;
}
#detailrightbloc .cartin {
    text-align: center;
    width: 50%;
}
#detailrightbloc .cartin_btn {
    text-align: right;
}
#detailrightbloc .favorite_btn {
    text-align: right;
    margin-top: 10px;
    width: 100%;
}
.sub_area {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}


/* お客様の声
----------------------------------------------- */
div#customervoice_area {
    clear: both;
    padding: 35px 0 0 0;
}

div#customervoice_area h2 {
    margin-bottom: 20px;
    padding: 6px 0 8px 10px;
    border-top: solid 1px #f90;
    background: url('../img/background/bg_tit_sub_01.jpg') repeat-x left bottom;
}

div#customervoice_area .review_bloc {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f6f6f6;
}

div#customervoice_area .review_bloc p {
    padding-top: 3px;
    margin-right: 10px;
}

div#customervoice_area .review_bloc .review_btn {
    width: 160px;
}

div#customervoice_area ul li {
    padding-bottom: 15px;
    margin-bottom: 15px;
    background: url("../img/background/line_dot_01.gif") repeat-x bottom ;
}

div#customervoice_area .voicetitle {
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

div#customervoice_area .voicedate {
    margin-bottom: 10px;
}


/* 関連商品（商品部分はbloc.cssのおすすめ商品と共通）
----------------------------------------------- */
div#whobought_area {
    clear: both;
    padding: 35px 0 0 0;
}

div#whobought_area h2 {
    border-top: solid 1px #f90;
    background: url('../img/background/bg_tit_sub_01.jpg') repeat-x left bottom;
    padding: 5px 0 8px 10px;
    font-size: 14px;
}


/* ***********************************************
▼カートの中
/*********************************************** */
/* 現在のカゴの中
----------------------------------------------- */
div#undercolumn_cart .point_announce {
    padding: 20px;
    margin-bottom: 20px;
    border: solid 1px #ffcc62;
    background: #fffaf0;
    font-size: 120%;
    text-align: center;
    line-height: 140%;
}
div#undercolumn_cart .totalmoney_area {
    margin-bottom: 20px;
}

div#undercolumn_cart p {
    margin: 10px 5px;
}

div#undercolumn ul#quantity_level li {
    padding: 3px;
    display: inline;
}

div#undercolumn .empty {
    text-align: left;
}

div.form_area {
    margin-bottom: 30px;
}


/* お客様情報入力
----------------------------------------------- */
div#undercolumn_customer {
}

.flow_area {
    margin: 0 0 20px 0;
}

div#undercolumn_customer th em {
    color: #000;
    font-weight: bold;
}


/* お支払い方法・お届け時間等の指定
----------------------------------------------- */
div#undercolumn_shopping .pay_area {
    margin: 0 auto 30px;
    width: 100%;
}
div#undercolumn_shopping .pay_area02 {
    margin: 40px auto 30px auto;
}
div#undercolumn_shopping .pay_area02 .txtarea {
    margin: 5px 0 0 0;
    padding: 2px;
    border: 1px solid #ccc;
    width: 99%;
    height: 150px;
}
div#undercolumn_shopping .pay_area02 .select-msg {
    margin-bottom: 10px;
}

div#undercolumn_shopping .point_area {
    margin: 40px auto 0 auto;
}

div#undercolumn_shopping .point_area .point_announce {
    padding: 20px;
    border: 1px solid #ccc;
}

div#undercolumn_shopping .point_area p {
    margin-bottom: 20px;
}

div#undercolumn_shopping .point_area .point_announce li {
    margin-bottom: 5px;
}


/* お届け先の指定
----------------------------------------------- */
#address_area {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

#address_area .information {
    width: 65%;
}

#undercolumn_shopping .information {
    margin-bottom: 15px;
}

#address_area .add_multiple {
    padding: 15px 10px;
    border: 1px solid #ffcc62;
    width: 30%;
    color: #555;
    background: #fffaf0;
    text-align: center;
    font-weight: bold;
}

#address_area .add_multiple p {
    margin-bottom: 10px;
}

#address_area p.addbtn {
    font-weight: bold;
    font-size: 10px;
}


/* ==============================================
▼検索結果
=============================================== */
p.condition_area {
    margin: 0 auto;
    padding: 5px;
    border: solid 1px #333;
    width: 566px;
}



/* ==============================================
▼スマートフォン
=============================================== */
@media screen and (max-width: 768px) {
#container {
    margin: 0 auto;
    padding: 0 0 30px;
    width: 100%;
    background: #fff;
    text-align: left;
}

#main_column_frame {
    padding: 0 4%;
}

/* 1カラム時 */
#main_column.colnum1 {
    margin: 0 auto;
    width: 100%;
}

/* 2カラム時 (共通) */
#main_column.colnum2 {
    width: 100%;
}

/* 2カラム時 (メイン部が左) */
#main_column.colnum2.left {
    padding-left: 0;
}

/* 2カラム時 (メイン部が右) */
#main_column.colnum2.right {
    padding-right: 0;
}

/* 3カラム時 */
#main_column.colnum3 {
    padding-left: 0;
    width: 100%;
}


.box40 {
    width: 18%;
}
.box60 {
    width: 24%;
}
.box100,
.box120 {
    width: 32%;
}
.box140,
.box145,
.box150,
.box240,
.box300,
.box320,
.box350,
.box380 {
    width: 96%;
}
input,
textarea,
select,
button {
    max-width: 100%;
}
#footer_wrap,
#footer,
#copyright,
#rightcolumn,
#leftcolumn {
    width: 100%;
    padding-top: 0;
}
#headerInternalColumn {
    width: 100%;
    padding-top: 0;
    height: auto;
    max-height: 35px;
}

#container .side_column .block_outer {
    padding: 0;
    margin: 8px auto;
}

#header {
    display: block;
    width: 100%;
}
#header_utility {
    width: 100%;
}
#logo_area {
    width: 100%;
    padding-left: 0;
}
#header_navi ul {
    width: 100%;
}
#main_column #recommend_area .product_item,
#whobought_area .product_item {
    width: 100%;
}
#calender_area .block_body {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
#calender_area table {
    width: 48%;
    -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0 1%;
}
#main_column.colnum2 div.listrightbloc {
    width: 72%;
}
div.listphoto {
    width: 24%;
    margin-right: 4%;
}
div.listrightbloc .detail_btn {
    text-align: right;
}
div.listrightbloc .cartin {
    width: 100%;
}
div.listrightbloc .cartin .quantity .box {
    width: 40%;
}
div.listrightbloc .cartin_btn {
    width: 60%;
}

#main_column.colnum1 div.subtext,
#main_column.colnum2 div.subtext,
#main_column.colnum3 div.subtext,
#main_column.colnum1 div.subphotoimg,
#main_column.colnum2 div.subphotoimg,
#main_column.colnum3 div.subphotoimg {
    width: 100%;
}
#detailarea,
.sub_area {
    display: block;
}
#main_column div.subphotoimg img,
#undercolumn_cart .form_area tbody td img,
#main_column div#detailphotobloc img {
    width: auto !important;
    height: auto !important;
    max-width: 100% !important;
    max-height: 100% !important;
}
#main_column.colnum1 div#detailphotobloc,
#main_column.colnum2 div#detailphotobloc,
#main_column.colnum3 div#detailphotobloc {
    width: 100%;
    text-align: center;
    margin-bottom: 16px;
}
#main_column.colnum1 #detailrightbloc,
#main_column.colnum2 #detailrightbloc,
#main_column.colnum3 #detailrightbloc {
    width: 100%;
}
#detailrightbloc .cart_area .quantity dt {
    width: 40%;
    text-align: right;
}
#detailrightbloc .cart_area .quantity .box60 {
    width: 60%;
}
div#customervoice_area .review_bloc .review_btn {
    margin: 8px auto;
}
#detailrightbloc .favorite_btn {
    margin: 8px auto 0;
}

div#mynavi_area .mynavi_list li {
    width: 40%;
    margin-right: 0;
}

#undercolumn_cart .form_area tbody th:nth-child(2),
#undercolumn_cart .form_area tbody td:nth-child(2) {
    padding: 4px 0;
    width: 16%;
}
#undercolumn_cart .form_area tbody th:nth-child(3),
#undercolumn_cart .form_area tbody td:nth-child(3) {
    width: 20%;
}
#undercolumn_cart .form_area tbody th:nth-child(4),
#undercolumn_cart .form_area tbody td:nth-child(4) {
    width: 16%;
}
#undercolumn_cart .form_area tbody th:nth-child(5),
#undercolumn_cart .form_area tbody td:nth-child(5) {
    width: 20%;
}
#undercolumn_cart .form_area tbody th:nth-child(6),
#undercolumn_cart .form_area tbody td:nth-child(6) {
    width: 16%;
}
#undercolumn_cart .form_area tbody td .box3 {
    width: 20%;
}
#address_area .add_multiple {
    width: 84%;
    padding: 12px 8%;
}
#address_area {
    display: block;
}
}