@charset "utf-8";

/************************************************
 ポップアップウィンドウ
************************************************ */
/* 共通
----------------------------------------------- */
div#windowcolumn {
    width: 98%;
    height: 100%;
    margin: 0 1%;
    background: #fff;
}

div#windowcolumn h2 {
    border-bottom: 1px solid #ccc;
    border-top: 0 none;
    margin: 0 16px 48px;
    padding: 16px 0 12px;
    font-size: 1.6rem;
}

div#window_area {
    margin: 15px auto 0 auto;
    padding-bottom: 20px;
    width: 98%;
    min-height: 300px;
    height: auto !important;
}
.area350 {
    width: 98%;
}

div#window_area p.information {
    margin-bottom: 20px;
}

div#window_area .message {
    margin-bottom: 20px;
    color: #f60;
    line-height: 150%;
    font-weight: bold;
    font-size: 140%;
}
div#window_area table {
    width: 98%;
}
div#windowcolumn .btn_area {
    margin: 20px auto 0;
    max-width: 250px;
}
/* お客様の声の書き込み、新しいお届け先の追加・変更
----------------------------------------------- */
div#window_area #forgot {
    margin: 0 auto;
    padding: 20px 2%;
    width: 96%;
    border: 1px solid #ccc;
    text-align: left;
}
div#window_area #forgot .mailaddres {
    margin-bottom: 10px;
}
div#window_area #forgot .mailaddres .box300 {
    width: 60%;
}

div#window_area #forgot p {
    text-align: center;
}


/* 商品詳細拡大写真、カート拡大写真
----------------------------------------------- */
div#bigimage,
div#cartimage {
    margin-top: 15px;
    background-color: #fff;
    text-align: center;
}

div#bigimage img,
div#cartimage img {
    padding: 10px 0;
    background-color: #fff;
}

/* 郵便番号検索
----------------------------------------------- */
div#zipsearchcolumn {
    margin: 15px auto 0 auto;
    border-top: 5px solid #ffa85c;
    border-bottom: 5px solid #ffa85c;
    width: 48%;
    background-color: #fff;
}

div#zipsearchcolumn h2 {
    margin: 0 0 15px 0;
    width: 48%;
}

div#zipsearch_area {
    margin: 15px auto 0 auto;
    width: 48%;
}

div#zipsearchcolumn .btn {
    margin: 15px 0 30px 0;
    text-align: center;
}

div#zipsearch_area #completebox p {
    padding: 60px 1%;
    text-align: center;
}

