name: Testing dockerbuild
on:
  workflow_call:
    inputs:
      event_name:
        required: true
        type: string

env:
  REGISTRY: ghcr.io

jobs:
  dockerbuild:
    name: dockerbuild
    runs-on: ubuntu-20.04
    permissions:
      contents: read
      packages: write
    strategy:
      fail-fast: false
      matrix:
        php: [ '7.4', '8.0', '8.1', '8.2', '8.3' ]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build docker image
        uses: ./.github/actions/dockerbuild
        with:
          php-version: ${{ matrix.php }}
          cache-to: type=gha,mode=max,scope=php-${{ matrix.php }}
