name: CI/CD for EC-CUBE

on:
  push:
    branches:
      - '*'
    tags:
      - '*'
    paths:
      - '**'
      - '!*.md'
  pull_request:
    paths:
      - '**'
      - '!*.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  dockerbuild:
    with:
      event_name: ${{ github.event_name }}
    uses: ./.github/workflows/dockerbuild.yml
  php-cs-fixer:
    with:
      ref_name: ${{ github.ref_name }}
      base_ref: ${{ github.base_ref }}
      event_name: ${{ github.event_name }}
      owner: ${{ github.repository_owner }}
    needs: [ dockerbuild ]
    uses: ./.github/workflows/php-cs-fixer.yml
  phpstan:
    with:
      ref_name: ${{ github.ref_name }}
      base_ref: ${{ github.base_ref }}
      event_name: ${{ github.event_name }}
      owner: ${{ github.repository_owner }}
    needs: [ dockerbuild ]
    uses: ./.github/workflows/phpstan.yml
  dependency-review:
    uses: ./.github/workflows/dependency-review.yml
  unit-tests:
    with:
      ref_name: ${{ github.ref_name }}
      base_ref: ${{ github.base_ref }}
      event_name: ${{ github.event_name }}
      owner: ${{ github.repository_owner }}
    needs: [ php-cs-fixer, phpstan ]
    uses: ./.github/workflows/unit-tests.yml
  e2e-tests:
    with:
      ref_name: ${{ github.ref_name }}
      base_ref: ${{ github.base_ref }}
      event_name: ${{ github.event_name }}
      owner: ${{ github.repository_owner }}
    needs: [ unit-tests ]
    uses: ./.github/workflows/e2e-tests.yml
  success:
    needs:
      - php-cs-fixer
      - phpstan
      - dependency-review
      - unit-tests
      - e2e-tests
    uses: ./.github/workflows/success.yml
